/* line 5, ../sass/application.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/application.sass */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* line 14, ../sass/application.sass */
#drawer {
  position: fixed;
  width: 240px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(left, #eeeeee, #dddddd);
  background: -moz-linear-gradient(left, #eeeeee, #dddddd);
  background: -o-linear-gradient(left, #eeeeee, #dddddd);
  background: -ms-linear-gradient(left, #eeeeee, #dddddd);
  background: linear-gradient(left, #eeeeee, #dddddd);
  z-index: 1000;
}
/* line 22, ../sass/application.sass */
#drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 26, ../sass/application.sass */
#drawer ul a {
  display: block;
  padding: 4px 8px;
  cursor: pointer;
  color: #333333;
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -ms-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
}
/* line 32, ../sass/application.sass */
#drawer ul a:hover {
  text-decoration: none;
  background: #ccddee;
}

/* line 36, ../sass/application.sass */
#main {
  position: fixed;
  height: 100%;
  width: 100%;
  padding-left: 240px;
}

/* line 42, ../sass/application.sass */
#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 47, ../sass/application.sass */
#visual {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  border: 0;
  border-bottom: 2px solid #cccccc;
  padding: 20px;
}

/* line 57, ../sass/application.sass */
#bottom {
  width: 100%;
  height: 50%;
  top: 50%;
  position: absolute;
}

/* line 63, ../sass/application.sass */
#inspector, #source {
  position: absolute;
  width: 50%;
  height: 100%;
}

/* line 68, ../sass/application.sass */
#inspector {
  left: 0;
  padding: 20px;
}
/* line 71, ../sass/application.sass */
#inspector * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 74, ../sass/application.sass */
#source {
  left: 50%;
  border: 0;
  border-left: 2px solid #cccccc;
  background: white;
  padding: 20px;
}
